{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PubMed Search System with Recommendation</title>

    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css' %}" />

</head>

<body>

<div id="page">

    <h1>PubMed Search System</h1>


    <form id="searchForm" method="post" action="/search/">

        {% csrf_token %}

        <fieldset>

            <input id="s" name="s" type="text" />

            <input type="submit" value="Submit" id="submitButton" />



        </fieldset>
    </form>

    <div id="resultsDiv">

        {% block results %}
        <div class="webResult">
            <h2><a href="">Hello World</a></h2>
            <p>This is the content of hello world This is the content of hello world This is the content of hello world This is the content of hello world
                This is the content of hello world This is the content of hello world This is the content of hello world
                This is the content of hello worldThis is the content of hello world
            </p>
            <a href="">Cliniome.com</a>
        </div>

        {% endblock %}

    </div> <!-- End of resultsDiv -->

    </div>

<!-- It would be great if you leave the link back to the tutorial. Thanks! -->
<p class="credit"><a href="http://www.linkedin.com/in/snouto">Cloud Computing and Grid Computing</a></p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<!--<script src="js/script.js"></script>! -->
</body>
</html>
